@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/source-sans-pro/SourceSansPro-Semibold.ttf");
}  

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}  

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/source-sans-pro/SourceSansPro-Light.ttf");
}  

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/source-sans-pro/SourceSansPro-LightItalic.ttf");
}  

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.ttf");
} 